{% extends "base.html" %}

{% block body %}

    {% if errors %}
        <li>
            {% for error in errors %}
             <p style="color: red;">
                {{error}}.
             </p>
              {% end %}
        </li>
    {% end %}
	
<form action="/auth/create" method="POST">
  UserName: <input name="username" type="text"><br>
  Password: <input name="password" type="password"><br>
  Password_again: <input name="password2" type="password"><br>
  {% module xsrf_form_html() %}
  <input type="submit" value ="Create">
</form>
{% end %}
