{% extends "base.html" %}

{% block body %}

    {% if errors %}
        <li>
            {% for error in errors %}
             <p style="color: red;">
                {{error}}.
             </p>
              {% end %}
        </li>
    {% end %}
	
<form action="/auth/search" method="POST">
  UserName: <input name="username" type="text"><br>

  {% module xsrf_form_html() %}
  <input type="submit" value='Search'>
  
</form>
<div>
    <p style = "color:green;" >Search results are:</p>
    <div>
		<table border =0>
			<tr>
			  <th></th>
			  <th align="left">UserName</th>
			  <th align="left">PassWord</th>
			</tr>
			{% for i,j in lst_sear %}
			<tr>
			    <td class="cx"><input totime="1446110761000" uw="1" type="checkbox" id='chkb{{i}}'></td>
				<td align="left">{{i}}</td>
				<td align="left">{{j}}</td> 
			</tr>
			{%end%}
		</table>
	</div>
<div>
{% end %}
